
.img {
  animation: shake 0.5s infinite alternate;
  animation-delay: 2s;
  cursor: pointer;
  position: fixed;
  bottom: 20px; /* Adjust as needed */
  right: 20px; /* Adjust as needed */
  cursor: pointer;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-5px);
  }
}
